.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom, black, transparent);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    float: right;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.navbar a:hover {
    transform: scale(1.2);
    cursor: pointer;
}